body {
  margin: 0;
  box-sizing: border-box;

  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;

  color: #292f2f; 

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --handwritten-font-family: "Italianno", cursive;
  --handwritten-font-color: #292f2f;
}